root-fs/etc/ssh/ssh_host_dsa_key
root-fs/etc/ssh/ssh_host_rsa_key
root-fs/etc/ssh/ssh_host_ecdsa_key
root-fs/etc/ssh/ssh_host_ecdsa_key.pub
root-fs/etc/ssh/ssh_host_rsa_key.pub
root-fs/etc/ssh/ssh_host_dsa_key.pub
