net-misc/ntp caps
#required by media-libs/mesa-9.0, required by x11-base/xorg-server-1.13.0-r1[-minimal], required by x11-drivers/xf86-input-mouse-1.8.1, required by x11-base/xorg-drivers-1.13[input_devices_mouse]
=dev-libs/libxml2-2.8.0-r3 python
