[Desktop Entry]
Type=Application
Icon=xfwm4
Exec=lxsession-edit
Name=Desktop Session Settings
Name[af]=Sessie-instellings vir die werkskerm
Name[ar]=إعدادات جلسة سطح المكتب
Name[ast]=Configuración de la sesión d'escritoriu
Name[be]=Налады сесіі працоўнага стала
Name[bg]=Настройки на десктоп сесията
Name[bn]=ডেস্কটপ সেশনের সেটিংসমূহ
Name[bn_IN]=ডেস্কটপ সেশানের বিবিধ বৈশিষ্ট্য
Name[ca]=Paràmetres de la sessió d'escriptori
Name[cs]=Nastavení relace pracovního prostředí
Name[da]=Indstillinger for skrivebordssession
Name[de]=Desktop-Sitzungseinstellungen
Name[el]=Ρυθμίσεις συνεδρίας επιφάνειας εργασίας
Name[en_GB]=Desktop Session Settings
Name[es]=Configuración de la sesión de escritorio
Name[es_VE]=Configuración de la sesión de escritorio
Name[et]=Töölauaseansi sätted
Name[eu]=Idazmahai-saioaren ezarpenak
Name[fa]=تنظیمات جلسه ای میزکار
Name[fi]=Työpöytäistunnon asetukset
Name[fo]=Setingar á skriviborðssetu
Name[fr]=Paramètres de la session
Name[gl]=Configuración da sesión de escritorio
Name[he]=הגדרות השימוש בשולחן העבודה
Name[hr]=Postavke sesije radne površine
Name[hu]=Asztali folyamat beállításai
Name[id]=Pengaturan Sesi Desktop
Name[it]=Impostazioni della sessione
Name[ja]=デスクトップセッションの設定
Name[lg]=Entegeka za Lutuula Lw'awakolerwa
Name[lt]=Sesijos nustatymai
Name[ms]=Tetapan Sesi Desktop
Name[nb]=Innstillinger for skrivebordssesjon
Name[nl]=Bureaublad Sessie-instellingen
Name[nn]=Øktoppsett
Name[pa]=ਡੈਸਕਟਾਪ ਸ਼ੈਸ਼ਨ ਸੈਟਿੰਗ
Name[pl]=Ustawienia sesji
Name[pt]=Definições da sessão
Name[pt_BR]=Configurações de sessão do ambiente gráfico
Name[ro]=Setări pentru sesiunea de lucru
Name[ru]=Сессионные настройки рабочего стола
Name[si]=වැඩතල සැසි සැකසුම්
Name[sk]=Nastavenia relácie plochy
Name[sl]=Nastavitve namizne seje
Name[sr]=Подесите ваше сесије
Name[sr@latin]=Podesite vaše sesije
Name[sv]=Inställningar för skrivbordssession
Name[te]=డెస్క్‍టాప్ చర్యాకాలపు అమరికలు
Name[tr]=Masaüstü Oturumu Ayarları
Name[tt_RU]=Эш өстәленең сессия көйләүләре
Name[uk]=Налаштування сесії робочого столу
Name[ur]=ڈیسک ٹاپ نشست ترتیبات
Name[ur_PK]=ڈیسک ٹاپ نشست ترتیبات
Name[vi]=Thiết lập phiên làm việc
Name[zh_CN]=桌面会话设置
Name[zh_TW]=桌面工作階段設定
Comment=Manage applications loaded in desktop session
Comment[af]=Bestuur toepassings wat in die werkskermsessie gelaai word
Comment[ar]=أدِر التطبيقات المحملة في جلسة سطح المكتب
Comment[ast]=Xestiona les aplicaciones cargaes na sesión d'escritoriu
Comment[be]=Кіраванне праграмамі, якія загружаюцца ў настольнай сесіі.
Comment[bg]=Управление на приложенията, заредени за сесията
Comment[bn]=ডেস্কটপ সেশনে লোডকৃত অ্যাপ্লিকেশনগুলো পরিচালনা করে
Comment[bn_IN]=ডেস্কটপ সেশনে লোড হওয়া অ্যাপ্লেটগুলি পরিচালনা করুন
Comment[ca]=Gestioneu els programes que es carreguen a la sessió d'escriptori
Comment[cs]=Spravuje aplikace spuštěné v relaci pracovní plochy
Comment[da]=Håndter programmer indlæst i skrivebordssessionen
Comment[de]=Automatisch gestartete Anwendungen verwalten
Comment[el]=Διαχείριση των φορτωμένων εφαρμογών στη συνεδρία
Comment[en_GB]=Manage applications loaded in desktop session
Comment[es]=Gestiona las aplicaciones cargadas en la sesión de escritorio
Comment[fa]=مدیریت نرم افزار های بارگذاری شده در این جلسه
Comment[fi]=Hallitse automaattisesti käynnistettäviä sovelluksia
Comment[fo]=Umsit nýtsluskipanir ið eru løddar í skriviborðssetuni
Comment[fr]=Gére les applications chargées dans la session
Comment[gl]=Xestionar os aplicativos cargados na sesión de escritorio
Comment[he]=ניהול יישומים הנטענים עם עליית שולחן העבודה
Comment[hr]=Upravljaj aplikacijama učitanima u sesiji radne površine
Comment[hu]=Az asztali folyamat alkalmazásainak kezelése
Comment[id]=Kelola aplikasi yang dimuat pada sesi desktop
Comment[it]=Gestisce le applicazioni avviate nella sessione
Comment[ja]=デスクトップセッションでロードされるアプリケーションを管理します
Comment[lg]=Tegeka puloguramu eziba zitandikir'awamu n'olutuula lw'awakolerwa
Comment[lt]=Tvarkyti programas, paleidžiamas kartu su darbastaliu
Comment[nb]=Håndter program åpne i arbeidsøkta
Comment[nl]=Beheer toepassingen die geladen zijn in de bureaubladsessie
Comment[nn]=Handsam program lasta i skrivebordsøkt
Comment[pa]=ਡੈਸਕਟਾਪ ਸ਼ੈਸ਼ਨ ਵਿੱਚ ਲੋਡ ਹੋਣ ਵਾਲੀਆਂ ਐਪਲੀਕੇਸ਼ਨ ਦਾ ਪਰਬੰਧ
Comment[pl]=Zarządzaj programami uruchamianymi wraz ze środowiskiem LXDE
Comment[pt]=Gestão das aplicações carregadas pela sessão
Comment[pt_BR]=Configura aplicativos carregados na sessão do ambiente de trabalho
Comment[ro]=Gestionați aplicațiile încărcate în sesiunea de lucru
Comment[ru]=Управление приложениями загруженными в сессии рабочего стола
Comment[si]=වැඩතල සැසියක පූරණය වූ යෙදුම් කළමණාකරනය
Comment[sk]=Správa aplikácií nahraných v relácii pracovného prostredia
Comment[sl]=Upravljajte s programi, naloženimi v namizni seji
Comment[sr]=Управљање апликацијама учитаним у сесију радне површи
Comment[sr@latin]=Upravljanje aplikacijama učitanim u sesiju radne površi
Comment[sv]=Hantera program som laddas i skrivbordssessionen
Comment[te]=డెస్క్‍టాప్ చర్యాకాలంలో లోడయ్యే అనువర్తనాలను నిర్వహించు
Comment[tr]=Masaüstü oturumunda yüklenen uygulamaları yönet
Comment[tt_RU]=Эш өстәле сессиясендә җибәрелгән кушымалар белән идарә итү
Comment[uk]=Керувати запущеними під час сесії програмами
Comment[vi]=Quản lý các ứng dụng được chạy trong phiên làm việc
Comment[zh_CN]=管理在桌面会话中装入的应用程序
Comment[zh_TW]=管理桌面工作階段中載入的程式
Categories=Settings;DesktopSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;
